{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head %}
{% endblock extra_head %}

{% block body %}
<body class="landing-page sidebar-collapse">
    {% include "html_parts/message_banner.html" %}
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="none" navbar_class=""%}
    <div class="wrapper">
        <div class="section section-contact-us text-center">
            <div class="container">
                <h2 class="title">Uppdatera dina uppgifter</h2>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <form id="edit_profile_form" action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {% with field.field.widget.input_type as input_type %}
                            {% if input_type == 'text' or input_type == 'number' %}
                                <div id="inputs">
                                    {% if field.name == 'maximum_students' %}
                                        <h4> Antal personer jag kan ta upp till per lektion: </h4>
                                    {% elif field.name == 'price' %}
                                        <h4> Pris: </h4>
                                    {% endif %}

                                    {% if field.errors %}
                                        <span style="color:red; float:center;">{{ field.errors|first }}</span>
                                        <div class="form-group has-danger">
                                            <script type="text/javascript">
                                                $(function(){
                                                    $('#{{field.auto_id}}').addClass('form-control-danger');
                                                    $('#{{field.auto_id}}').attr('placeholder', '{{ field.errors|first }}');
                                                });
                                            </script>
                                            {{ field }}
                                        </div>
                                    {% else %}
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                {% if field.name == 'first_name' %}
                                                    <i class="now-ui-icons users_circle-08"></i>
                                                {% elif field.name == 'last_name' %}
                                                    <i class="now-ui-icons users_circle-08"></i>
                                                {% elif field.name == 'city' %}
                                                    <i class="now-ui-icons location_world"></i>
                                                {% elif field.name == 'zip_code' %}
                                                    <i class="now-ui-icons location_pin"></i>
                                                {% elif field.name == 'maximum_students' %}
                                                    <i class="now-ui-icons users_single-02"></i>
                                                {% endif %}
                                            </span>
                                            {{ field }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% elif input_type == 'select' %}
                                {% if field.errors %}
                                    <span style="color:red">{{ field.errors|first }}</span>
                                {% endif %}
                                {{ field }}

                            {% elif input_type == 'checkbox' or input_type == 'radio' %}
                                {% if field.name == 'hobbies' %}
                                    <h4> Mina hobbies: </h4>
                                    {% if field.errors %}
                                        <span style="color:red;">{{ field.errors|first }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if field.errors %}
                                        <span style="color:red;">{{ field.errors|first }}</span>
                                    {% endif %}
                                {% endif %}
                                <div id="checkRadios">
                                    <div class="col-sm-12 col-lg-12">
                                        <ul style="list-style:none; margin: 0px; margin-left:30px; padding: 0px;">
                                            {% for alternative in field %}
                                            <div class="checkbox">
                                                <li>
                                                    {% if field.name == 'work_in_student_home' %}
                                                        <label for="{{ field.auto_id }}">
                                                            {{ alternative }}
                                                        Jag kan lära ut andras hem
                                                        </label>

                                                    {% elif field.name == 'work_in_instructor_home' %}
                                                        <label for="{{ field.auto_id }}">
                                                            {{ alternative }}
                                                        Jag kan lära ut mitt hem
                                                        </label>

                                                    {% else %}
                                                        {{ alternative }}
                                                    {% endif %}
                                                </li>
                                            </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% elif input_type == "file" %}
                                {% if field.name == "profile_picture" %}
                                    <div class="textarea-container">
                                        <h4> Ladda upp en profilbild </h4>
                                        {% if field.errors %}
                                            <span style="color:red;">{{ field.errors|first }}</span>
                                        {% endif %}
                                            {{ field }}
                                    </div>
                                {% endif %}

                            {% else %}
                                {% if field.errors %}
                                    <span style="color:red;">{{ field.errors|first }}</span>
                                {% endif %}
                                <div class="textarea-container">
                                    {{ field }}
                                </div>
                            {% endif %}
                            {% endwith %}
                        {% endfor %}
                        <div class="send-button">
                            <a href="javascript:$('#edit_profile_form').submit();" class="btn btn-primary btn-round btn-block btn-lg">Ändra profil</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}
