{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head %}
{% endblock extra_head %}

{% block body %}
<body class="landing-page sidebar-collapse">
    {% include "html_parts/message_banner.html" %}
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="none" navbar_class=""%}
    <!-- End Navbar -->

    <div class="wrapper">
        <!-- Start our offerings section -->
        <div class="section section-team text-center">
            <div class="container">
                <h2 class="title">
                {% if hobby != None %}
                    {% if instructors|length != 0 %}
                        Instruktörer för {{hobby.hobby_name}}
                    {% else %}
                        Denna hobby har inga instruktörer tillgängliga
                    {% endif %}
                {% else %}
                    Vi har inga hobbies som heter "{{hobby_name|title}}"
                {% endif %}
                </h2>
                {% if hobby != None %}
                <div class="team">
                    <div class="row row-instructor">
                        {% for instructor in instructors %}
                        <div class="card card-signup col-md-4" data-background-color="orange" style="cursor: pointer;" onclick="window.location='{% url 'profile_with_user_hobby' instructor.user.id hobby %}'">
                            <div class="team-player">
                                {% with instructor.user.id|slugify as user_id %}
                                    {% if instructor.profile_picture %}
                                        <img src="{{ instructor.profile_picture.url }}"class="rounded-circle img-fluid img-raised">
                                    {% else %}
                                        <img src="{% static 'external_page/assets/img/placeholder.png'%}" class="rounded-circle img-fluid img-raised">
                                    {% endif %}
                                {% endwith %}
                                <h4 class="title">{{ instructor.first_name|title }} {{ instructor.last_name|title }}</h4>
                                <h5> Jag är öppen för att: </h5>
                                <ul>
                                {% if instructor.work_in_instructor_home == True %}
                                    <li>Hålla lektioner i mitt hem</li>
                                {% endif %}
                                {% if instructor.work_in_student_home == True %}
                                    <li>Hålla lektioner i andras hem</li>
                                {% endif %}
                                </ul>
                                <h5>Jag kan ta upp till {{ instructor.maximum_students }} personer</h5>
                                <i class="now-ui-icons emoticons_satisfied"></i>
                                <i class="now-ui-icons emoticons_satisfied"></i>
                                <i class="now-ui-icons emoticons_satisfied"></i>
                                <i class="now-ui-icons emoticons_satisfied"></i>
                                <i class="now-ui-icons emoticons_satisfied"></i>
                            </div>
                        </div>
                            {% if forloop.counter|divisibleby:3 %}
                                </div>
                                <div class="row row-instructor">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- End our offerings section -->

        <!-- Start work with us section -->
        {% if user.is_authenticated %}
        <div class="section section-contact-us text-center" id="work-with-us">
            <div class="container">
                <h2 class="title">{% trans 'Du är just nu inloggad som' %}</h2>
                <h3>{{ user.instructor.first_name }} {{ user.instructor.last_name }}</h3>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="send-button">
                            <a href="{% url 'my_profile' %}" class="btn btn-primary btn-round btn-block btn-lg">{% trans 'Till din profil' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="section section-contact-us text-center" id="work-with-us">
            <div class="container">
                <h2 class="title">{% trans 'Vill du arbeta med oss?' %}</h2>
                <p class="description">{% trans 'Registrera dig och kom igång. Vi lovar att det går blixtsnabbt!' %}</p>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="send-button">
                            <a href="{% url 'account_signup' %}" class="btn btn-primary btn-round btn-block btn-lg">{% trans 'Registrera dig som instruktör' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End work with us section -->
        {% include "html_parts/footer.html" %}
    </div>
</body>
{% endblock body %}
