{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<style>
* {
    box-sizing: border-box;
}

#search-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-list li a {
    border: 1px solid #ddd;
    border-radius:4px 4px 4px 4px;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 3px;
    text-decoration: none;
    color: black;
    display: block;
}

#search-list li a:hover:not(.header) {
    background-color: #e0e0e0;
}
</style>
{% endblock extra_css %}

{% block extra_head %}
<script>
function scroll_alt() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("search-hobby");
    filter = input.value.toUpperCase();
    ul = document.getElementById("search-list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function search_key_press(e) {
    if(e.keyCode === 13){
        e.preventDefault();
        return false;
    }
}
</script>
{% endblock extra_head %}

{% block body %}
<body class="landing-page sidebar-collapse">
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="400" navbar_class="" %}
    <!-- End Navbar -->
    {% include "html_parts/message_banner.html" %}

    <div class="wrapper">
        <div class="page-header page-header-medium">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'external_page/assets/img/bg6.jpg' %}');"></div>
            <div class="container">
                <div class="content-center">
                    <div class="row">
                        <div class="card card-login" data-background-color="orange">
                            {% include 'djangospam/form.html' %}
                            <form class="form" method="" action="{% url 'instructors' 'all' %}">
                                <div class="header text-center justify-content-center">
                                    <h4 class="title title-up"><label for="search-hobby">Professionella lärare, förverkliga din hobbydröm</label></h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                                        </span>
                                        <input type="text" class="form-control" id="search-hobby" onkeyup="scroll_alt()" onkeypress="search_key_press(event)" placeholder="Sök här eller scrolla ned för mer...">
                                    </div>
                                    {% if hobbies != None %}
                                        <ul id="search-list">
                                        {% for hobby in hobbies %}
                                            <li><a href="{% url 'instructors' hobby.hobby_name %}">{{ hobby.hobby_name|title }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start our offerings section -->
        <div class="section section-tabs" id="our-offerings">
            <div class="container">
                <div class="row">
                {% for hobby in hobbies %}
                    <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto" style="cursor:pointer;" onclick="window.location='{% url 'instructors' hobby.hobby_name %}'">
                        <!-- Tabs with Background on Card -->
                        <div class="card">
                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item">
                                    <a class="nav-link"><strong>{{ hobby.hobby_name|upper }}</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"><i class="now-ui-icons users_single-02"></i>{{ hobby.instructor_set.count }} Instruktörer lediga</a>
                                </li>
                            </ul>
                            <div class="card-body" style="height:250px; background-image: url('{% static 'external_page/assets/img/hobby/'|add:hobby.hobby_name|add:'_small_banner.jpg' %}');">
                            </div>
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- End our offerings section -->

        <!-- Start about us section-->
        <div class="section section-about-us" id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Lorem Ipsum</h2>
                        <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('{% static 'external_page/assets/img/hobby/flying.jpg' %}')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sunt in culpa qui officia deserunt mollit anim id est laborum."
                                    <br>
                                    <br>
                                    <small>-Lorem Ipsum</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container" style="background-image: url('{% static 'external_page/assets/img/hobby/painter.jpg' %}')"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url('{% static 'external_page/assets/img/hobby/tennis_players.jpg' %}')"></div>
                            <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End about us section-->
        {% block signup_form %}
        {% endblock signup_form %}

        <!-- Start work with us section -->
        {% if user.is_authenticated %}
        <div class="section section-contact-us text-center" id="work-with-us">
            <div class="container">
                <h2 class="title">{% trans 'Du är just nu inloggad som' %}</h2>
                <h3>{{ user.instructor.first_name }} {{ user.instructor.last_name }}</h3>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="send-button">
                            <a href="{% url 'my_profile' %}" class="btn btn-primary btn-round btn-block btn-lg">{% trans 'Till din profil' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="section section-contact-us text-center" id="work-with-us">
            <div class="container">
                <h2 class="title">{% trans 'Vill du arbeta med oss?' %}</h2>
                <p class="description">{% trans 'Registrera dig och kom igång. Vi lovar att det går blixtsnabbt!' %}</p>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="send-button">
                            <a href="{% url 'account_signup' %}" class="btn btn-primary btn-round btn-block btn-lg">{% trans 'Registrera dig som instruktör' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End work with us section -->

        <!-- Start modals -->
        {% block user_activation_modal %}{% endblock user_activation_modal %}
        {% block verification_sent_modal %}{% endblock verification_sent_modal %}
        {% block signup_closed_modal %}{% endblock signup_closed_modal %}
        {% block password_set_modal %}{% endblock password_set_modal %}
        {% block password_reset_modal %}{% endblock password_reset_modal %}
        {% block password_reset_from_key_modal %}{% endblock password_reset_from_key_modal %}
        {% block password_reset_from_key_done_modal %}{% endblock password_reset_from_key_done_modal %}
        {% block password_reset_done_modal %}{% endblock password_reset_done_modal %}
        {% block email_confirm_modal %}{% endblock email_confirm_modal %}
        {% block logout_modal %}{% endblock logout_modal %}
        {% block account_inactive_modal %}{% endblock account_inactive_modal %}
        <!-- End modals -->

        {% include "html_parts/footer.html" %}
    </div>
</body>
{% endblock body %}
