{% extends "account/account_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Hobbyin - Verifiera din email adress" %}{% endblock %}


{% block content %}
<h1>{% trans "Välkommen ombord till Hobbyin!" %}</h1>
{% if confirmation %}


<h3>Verifiera din email adress här: </h3>
<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Verifiera email' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Din länk för att verifiera email adressen är antingen ogiltig eller har antingen gått ut.
    <a href="{{ email_url }}"> Klicka här för att få en ny länk.</a> {% endblocktrans %}</p>

{% endif %}
{% endblock %}
