{% extends "account/account_base.html" %}

{% load i18n %}

{% block password_reset_modal %}
<!-- Forgotten Password Modal -->
<div class="modal fade modal-primary" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-login card-plain">
                <h4 class="card-title text-center">{% trans Set new password %}</h4>
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                </div>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="card-content">
                            {% for field, error_message in form.errors.items %}
                                <span style="color:white;">{{ error_message }}</span>
                            {% endfor %}

                            {% for field in form %}
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                                {{ field }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <input type="submit" class="btn btn-neutral btn-round btn-lg btn-block" value='{% trans "Change Password" %}'>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  End Forgotten Password Modal -->
<script type="text/javascript">
function initialize_modal() {
    $(window).on('load',function(){
        $('#passwordResetModal').modal('show');
    });
}
window.onload = initialize_modal;
</script>
{% endblock password_reset_modal %}
