{% extends "landing_page.html" %}

{% load i18n %}

{% block password_reset_from_key_modal %}
<!-- User activation modal -->
<div class="modal fade" id="password_reset_from_key_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">{% if token_fail %}{% trans "Dålig länk" %}{% else %}{% trans "Ändra löasenord" %}{% endif %}</h4>
            </div>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="modal-body">
                    <div class="card-content">
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    </div>
                </div>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="card-content">
                                <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        {% for field in form %}
                                            {{ field }}
                                            <script type="text/javascript">
                                                $(function(){
                                                    $('#{{ field.auto_id }}').addClass('form-control')
                                                });
                                            </script>
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                            </div>
                        </div>
                    </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button>
                </div>
                {% else %}
                <div class="modal-body">
                    <div class="card-content">
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#password_reset_from_key_modal').modal('show');
    });
</script>
<!--  End Modal -->
{% endblock password_reset_from_key_modal %}
