{% extends "landing_page.html" %}

{% load i18n %}

{% block password_set_modal %}
<!-- User activation modal -->
<div class="modal fade" id="password_set_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">{% trans "Sätt ett lösenord " %}</h4>
            </div>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card-content">
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                {% for field in form %}
                                    {{ field }}
                                    <script type="text/javascript">
                                        $(function(){
                                            $('#{{ field.auto_id }}').addClass('form-control')
                                        });
                                    </script>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <input type="submit" name="submit_login" class="btn btn-neutral btn-round btn-lg btn-block" value="Registrera" style="color:#2CA8FF;">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#password_set_modal').modal('show');
    });
</script>
<!--  End Modal -->
{% endblock password_set_modal %}
