{% load static %}
{% load i18n %}
<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.instructor %}
                        <li>
                            <a href="{% url 'my_profile' %}"><strong>{% trans 'Min profil' %}</strong></a>
                        </li>
                        <li>
                            <a href="{% url 'my_events' %}"><strong>{% trans 'Mina evenemang' %}</strong></a>
                        </li>
                        <li>
                            <a href="{% url 'create_event' %}"><strong>{% trans 'Skapa evenemang' %}</strong></a>
                        </li>
                        <li>
                            <a href="{% url 'all_events' %}">{% trans 'Se alla evenemang' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'settings' %}">{% trans 'Kontoinställningar' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">{% trans 'Logga ut' %}</a>
                        </li>
                    {% elif user.customer %}
                        <li>
                            <a href="{% url 'all_events' %}"><strong>{% trans 'Se alla Prova-på evenemang' %}</strong></a>
                        </li>
                        <li>
                            <a href="{{ HTTP_HOST }}/#our-offerings"><strong>{% trans 'Hitta instruktör till en Hobby' %}</strong></a>
                        </li>
                        <li>
                            <a href="{% url 'settings' %}">{% trans 'Kontoinställningar' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">{% trans 'Logga ut' %}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>
                        <a href="{% url 'account_login' %}"><strong>{% trans 'Logga in' %}</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'instructor_signup' %}"><strong>{% trans 'Registrera dig som instruktör' %}</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'customer_signup' %}"><strong>{% trans 'Registrera dig som hobbyist' %}</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'all_events' %}"><strong>{% trans 'Se alla Prova-på evenemang' %}</strong></a>
                    </li>
                    <li>
                        <a href="{{ HTTP_HOST }}/#our-offerings"><strong>{% trans 'Hitta instruktör till en Hobby' %}</strong></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="copyright">
            All rights reserved &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>,
            <a href="{% url 'index' %}">HobbyIn</a>.
        </div>
    </div>
</footer>
